@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --color-black-1000: #101828;
  --color-black-1100: #4A5565;
  --color-black-1200: #006045;
  --color-black-1300: #222121;
  --color-black-1400: #3F3737;
  --color-golden-1000: #B1A583;
  --color-golden-1100: #A99C77;
  --color-gray-1000: #F9FAFB;
  --color-gray-1100: #E5E7EB;
  --color-gray-1200: #6A7282;
  --color-gray-1300: #F3F4F6;
  --color-gray-1400: #F4EEEB;
  --color-gray-1500: #D3D3D3;
  --color-gray-1600: #99A1AF;
  --color-green-1000: #BCB09E;
  --color-green-1100: #007A55;
  --color-green-1200: #22C55E;
  --color-green-1300: #ECFDF5;
  --color-green-1400: #A4F4CF;
  --color-blue-1000: #EEF6FF;
  --color-blue-1100: #BEDBFF;
  --color-blue-1200: #1C398E;
  --color-yellow-1000: #FFB36B;
  --color-yellow-1100: #FFFCF3;
  --color-red-1000: #C70036;
  --shadow-3xl: 0 1px 0.5px 0.05px rgba(29, 41, 61, 0.02);
  --breakpoint-xs: 375px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

button {
  @apply cursor-pointer
}

.text-gradient {
  background: linear-gradient(180deg, #FFF 0%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-bg {
  background: linear-gradient(135deg, #B1A583 0%, #FBCB80 100%);
}

.categories-card:hover {
  background: linear-gradient(120deg, var(--LXprimary, #222121) 60.36%, var(--LXsecondary, #B1A583) 93.57%);
}

.icon-bg2 {
  background: linear-gradient(135deg, #B1A583 0%, #FBCB80 100%);
}